PGHOST=localhost
PGPORT=5432
PGUSER=rohankumarpandey
PGPASSWORD=
PGDATABASE=cms_hospitals

CMS_API_BASE=https://data.cms.gov/provider-data/api/1/datastore/query
CMS_PAGE_SIZE=500
CMS_HTTP_TIMEOUT=60
CMS_MAX_RETRIES=5
